extends layout.pug

block title
    title="Risk of Rain Build"
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="/javascripts/ajax.js")
block content
    //-var currentItem=null;
    form(method="POST")
        //- create another select for item rarity, then compare this string to item string
        label(for="buildItemSelect") Item:
            select(id="buildItemSelect" name="itemName")
                each item in data
                    if(item.name == info.name)
                        option(name="buildItemOption" value=item.name selected="selected") #{item.name}
                    else
                        option(name="buildItemOption" value=item.name) #{item.name}
                    - var currentItem = item;
        //-implement ajax here for image (will have to use live update)
        if(currentItem != null)
            img(src=currentItem.imageLink alt=currentItem.name id="buildItemImage")
        label(for="buildAmount") Amount:
            input(id="buildAmount" type="number" min="1" max="10000" name="amount" value=info.amount)
        br
        button(id="submit") Build
        
    //-
        label Description:
            input(type='text' name='description' value=product.description)
        label Image (link):
            input(type='text' name='image' value=product.image)
        label Price:
            input(type='number' name='price' value=product.price)
        button(type='submit' value='Submit') Submit
    hr
    div(id="result")
    //-
        h2="SUCCESS"
        h3=info.name
        p=info.amount
        hr
        p=info.calcInfo
