extends layout.pug

block title
    title="Risk of Rain Build"
block content
    -var currentItem=null;
    form(method='GET')
        label(for="buildItemSelect") Item:
            select(id="buildItemSelect")
                each item in data
                    option(value=item.name) #{item.name}
                    - var currentItem = item;
        //-
            implement ajax here for image
        if(currentItem != null)
            img(src=item.imageLink alt=item.name class="buildItemImage")
        label(for="buildAmount") Amount:
            input(id="buildAmount" type="number" name="amount")
    //-
        label Description:
            input(type='text' name='description' value=product.description)
        label Image (link):
            input(type='text' name='image' value=product.image)
        label Price:
            input(type='number' name='price' value=product.price)
        button(type='submit' value='Submit') Submit
