extends layout.pug




//-
    maybe throw in an option to link to build page with current item selected?

block title
    title= item.name+" | RoR2 Builder"
block content
    - var stackSuffix1 = " ";
    - var stackSuffix2 = " ";
    if(item.stackingType1=="percentage")
        - var stackSuffix1 = "%";
    if(item.stackingType2=="percentage")
        - var stackSuffix2 = "%";
    hr
    h1= item.name
    img(src=item.imageLink alt=item.name)
    h2= item.description
    hr
    div(class= "websiteContent")
        p= item.content
    p="Stack Type: "+item.stackType
    hr
    div(class= "itemStats")
        table
            tr
                th Initial Item
                th Stack Effect
            tr
                td=item.stackingVar1+stackSuffix1+" "+item.stackingName1
                td=item.stackingValue1+stackSuffix1+" "+item.stackingName1+" per stack"
            if(item.stackingVar2 != null)
                tr
                    td=item.stackingVar2+stackSuffix2+" "+item.stackingName2
                    td=item.stackingValue2+stackSuffix2+" "+item.stackingName2+" per stack"
    
    
    
    
